@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.b-main {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    justify-content: center;
    padding: 48px 40px;
    width: fit-content;

    @media screen and (max-width: 768px) {
        width: auto;
    }

    .icon {
        padding-bottom: 20px;
    }

    &_title {
        font-size: 36px;
        font-weight: 700;
    }

    &_subtitle {
        font-size: 24px;
        font-weight: 350;
    }

    &_pet {
        &_grid {
            display: flex;
            gap: 24px;
            padding-top: 48px;

            .pet {
                background-color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                max-height: 100px;
                max-width: 150px;
                padding: 12px;
                transition: all 0.4s ease-in-out allow-discrete;

                &.m-expanded {
                    border: 1px solid black;
                    max-height: 350px;
                    max-width: 250px;

                    @media screen and (max-width: 768px) {
                        max-height: 450px;
                        max-width: 100px;
                    }

                }

                &_image {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 12px;

                    img {
                        border-radius: 10px;
                        height: 60px;
                        width: 60px;
                        transition: all 0.4s ease-in-out;
                    }

                    &.m-expanded {
                        img {
                            height: 120px;
                            width: 120px;

                            @media screen and (max-width: 768px) {
                                height: 80px;
                                width: 80px;
                            }
                        }
                    }
                }

                &_name {
                    display: flex;
                    font-size: 18px;
                    justify-content: center;
                    padding-bottom: 8px;

                    &.m-expanded {
                        border-bottom: 1px solid white;
                        font-size: 24px;
                        font-weight: bold;
                        padding-bottom: 8px;
                        margin-bottom: 12px;
                    }
                }

                &_info {
                    font-size: 14px;
                    transition: all 0.4s ease-in-out allow-discrete;

                    .title {
                        font-weight: bold;
                    }

                    div {
                        padding: 8px 0;
                    }

                    .gallery_button {
                        background-color: #00fad4;
                        border: none;
                        border-radius: 5px;
                        color: black;
                        cursor: pointer;
                        padding: 12px 8px;
                        text-transform:  uppercase;
                        transition: all 0.4s ease-in-out;
                        width: 100%;

                        &:hover {
                            background-color: #80ffec;
                        }
                    }
                }
            }

            .pet:hover {
                background-color: #00fad4;
                color: white;
                transform: translateY(-20px);

                .gallery_button {
                    background-color: white;

                    &:hover {
                        background-color: gainsboro;
                    }
                }
            }
        }
    }

    .pet_gallery {
        border: none;
        border-radius: 10px;
        padding: 24px 20px;

        @media screen and (max-width: 768px) {
            border-radius: 20px;
            margin-bottom: 0;
            max-height: 80vh;
            overflow: hidden;
            width: 100vw;
        }

        .drag_icon {
            display: none;
            width: 100%;

            @media screen and (max-width: 768px) {
                display: inline;
            }
        }

        .close_icon {
            cursor: pointer;
            padding: 24px 20px;
            position: absolute;
            right: 0;
            top: 0;

            @media screen and (max-width: 768px) {
                padding: 48px 20px;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        .gallery_title {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 20px;

        }

        .gallery_images {
            align-content: center;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 768px) {
                align-content: center;
                flex-direction: column;
                flex-wrap: nowrap;
                margin: auto;
                max-height: 60vh;
                overflow-y: auto;
                scroll-snap-type: y mandatory;
            }

            &.h-hidden {
                display: none;
            }
        }

        .gallery_image {
            height: 256px;
            transition: all 0.4s ease-in-out;
            width: 196px;

            @media screen and (max-width: 768px) {
                height: auto;
                scroll-snap-align: start;
                width: auto;
            }

            &:hover {
                transform: rotateY(180deg);
            }
        }

        .gallery_close {
            background-color: #00fad4;
            border: none;
            border-radius: 5px;
            color: black;
            cursor: pointer;
            margin-top: 20px;
            padding: 12px 8px;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                background-color: #80ffec;
            }
        }
    }
}

header {
    align-items: center;
    background-color: beige;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    justify-content: space-between;
    padding: 12px 8px;

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }

    .page_title {
        color: darksalmon;
        cursor: pointer;
        font-family: 'Lilita One', sans-serif;
        font-size: 24px;
        margin-right: auto;
        min-width: 50px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            font-size: 10px;
        }
    }

    .nav_logo {
        cursor: pointer;
        padding-right: 16px;
    }

    .nav_links {
        @media screen and (max-width: 768px) {
            padding: 0;
        }

        li {
            display: inline-block;
            padding: 0 20px;

            @media screen and (max-width: 768px) {
                padding: 0 4px;
            }
        }
    }

    a {
        color: darksalmon;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: bisque;
        }

        &.cta {
            button {
                background-color: bisque;
                border: none;
                border-radius: 10px;
                color: darksalmon;
                cursor: pointer;
                margin-left: 24px;
                padding: 12px 16px;
                transition: all 0.2s ease-in-out;

                @media screen and (max-width: 768px) {
                    font-size: 10px;
                }

                &:hover {
                    background-color: darksalmon;
                    color: white;
                }
            }
        }
    }
}

body {
    background-image: url('../img/dog_background.jpeg');
    margin: 0;
    overflow: hidden;
}

main {
    align-items: center;
    display: flex;
    height: calc(100vh - 75px);
    justify-content: center;
    overflow-y: auto;
}

.footer {
    bottom: 0;
    color: darksalmon;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    padding: 12px;
    position: fixed;
    right: 0;
    text-align: end;
    width: 100%;
}

.h-hidden {
    display: none;
}
