.b-main {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 30vh auto 30vh;
  padding: 48px 40px;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .b-main {
    margin: 30vh auto 10vh;
    width: auto;
  }
}
.b-main .icon {
  padding-bottom: 20px;
}
.b-main_title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.b-main_subtitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 350;
}
.b-main_pet_grid {
  display: flex;
  gap: 24px;
  padding-top: 48px;
}
.b-main_pet_grid .pet {
  background-color: white;
  border: none;
  border-radius: 5px;
  max-height: 100px;
  max-width: 150px;
  padding: 12px;
  transition: all 0.4s ease-in-out allow-discrete;
}
.b-main_pet_grid .pet.m-expanded {
  border: 1px solid black;
  max-height: 350px;
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  .b-main_pet_grid .pet.m-expanded {
    max-height: 450px;
    max-width: 100px;
  }
}
.b-main_pet_grid .pet_image {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}
.b-main_pet_grid .pet_image img {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  transition: all 0.4s ease-in-out;
}
.b-main_pet_grid .pet_image.m-expanded img {
  height: 120px;
  width: 120px;
}
@media screen and (max-width: 768px) {
  .b-main_pet_grid .pet_image.m-expanded img {
    height: 80px;
    width: 80px;
  }
}
.b-main_pet_grid .pet_name {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.b-main_pet_grid .pet_name.m-expanded {
  border-bottom: 1px solid white;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
.b-main_pet_grid .pet_info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  transition: all 0.4s ease-in-out allow-discrete;
}
.b-main_pet_grid .pet_info .title {
  font-weight: bold;
}
.b-main_pet_grid .pet_info div {
  padding: 8px 0;
}
.b-main_pet_grid .pet_info .gallery_button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 12px 8px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.b-main_pet_grid .pet_info .gallery_button:hover {
  background-color: beige;
  color: darkgoldenrod;
}
.b-main_pet_grid .pet:hover {
  background-color: #00fad4;
  color: white;
  transform: translateY(-20px);
}
.b-main .pet_gallery {
  border: none;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 24px 20px;
}
@media screen and (max-width: 768px) {
  .b-main .pet_gallery {
    margin-bottom: 0;
    max-height: 70vh;
    overflow: hidden;
    width: 100vw;
  }
}
.b-main .pet_gallery .gallery_title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.b-main .pet_gallery .gallery_images {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .b-main .pet_gallery .gallery_images {
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    max-height: 50vh;
    overflow-y: auto;
  }
}
.b-main .pet_gallery .gallery_images.h-hidden {
  display: none;
}
.b-main .pet_gallery .gallery_image {
  height: 256px;
  width: 196px;
}
@media screen and (max-width: 768px) {
  .b-main .pet_gallery .gallery_image {
    height: auto;
    width: auto;
  }
}
.b-main .pet_gallery .gallery_close {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
  margin-top: 20px;
  padding: 12px 8px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.b-main .pet_gallery .gallery_close:hover {
  color: white;
  background-color: #00fad4;
}

body {
  background-image: url("../img/dog_background.jpeg");
}

.footer {
  bottom: 0;
  padding: 12px;
  position: fixed;
  right: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */